<div class="col-lg-2 col-sm-12 mt-4">
    <ul class="list-group">
        <li class="list-group-item {{getActivePath path "vung"}}"><a class="list-sidebar-item" href="/vung">Danh Sách Các Vùng</a></li>
        <li class="list-group-item {{getActivePath path "khuvuc"}}"><a class="list-sidebar-item" href="/khuvuc">Danh Sách Các Khu Vực</a></li>
        <li class="list-group-item {{getActivePath path "hoptacxa"}}"><a class="list-sidebar-item" href="/hoptacxa">Danh Sách Các Hợp Tác Xã</a></li>
        <li class="list-group-item {{getActivePath path "vuon"}}"><a class="list-sidebar-item" href="/vuon">Danh Sách Các Vườn</a></li>
        <li class="list-group-item {{getActivePath path "thuhoach"}}"><a class="list-sidebar-item" href="/thuhoach">Danh Sách Các Lần Thu Hoạch</a></li>
        <li class="list-group-item {{getActivePath path "loaicay"}}"><a class="list-sidebar-item" href="/loaicay">Danh Sách Các Loại Cây</a></li>
    </ul>
</div>