<div class="container mt-4 lg-col-6 sm-col-12">
    <div class="mb-3 text-center">
        <h2>Chỉnh sửa Hợp Tác Xã {{htx.TenHTX}}</h2>
    </div>
    <form action="/hoptacxa/{{htx.HTXId}}?_method=PUT" method="post">
        <div class="mb-3">
            <label for="tenhtx" class="form-label">Tên Hợp Tác Xã</label>
            <input class="form-control" type="text" name="tenhtx" id="tenhtx" value="{{htx.TenHTX}}">
        </div>
        <div class="mb-3">
            <label for="vitri" class="form-label">Vị Trí</label>
            <input class="form-control" type="text" name="vitri" id="vitri" value="{{htx.Vitri}}">
        </div>
        <div class="mb-3">
            <label for="dientich" class="form-label">Diện Tích</label>
            <input class="form-control" type="text" name="dientich" id="dientich" value="{{htx.DienTich}}">
        </div>
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Chỉnh Sửa</button>
        </div>
    </form>
</div>